html{
    scroll-behavior:smooth;
}

*{
    margin:0px;
    padding: 0px;
    list-style: none;
    box-sizing: inherit;
    font-family: inherit;
}/*Ela arruma o comportamento das caixas e ajusta o seu comportamento*/

body{
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 305px;
    /*background: url(../img/floresta.jpg) no-repeat center fixed;
    background-size: auto;*/
}

/*É possivel definir a região do elemento que será afetado pelo CSS no HTML*/
/*header, main, footer, section{
    border: 1px solid black
}*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    font-weight: 700;
}

header>nav>ul{
    display: flex;
}
header>nav>ul>li>a{
    padding: 30px 20px;
    display: block;
    font-size: 1rem;
}

main{
    height: 100vh;
}
main>section{
    width: 100%;
    height: auto;
    display: flex;
    color: black;
    border: 1px dashed red;
}

section{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 2.7rem;
}

h2{
    display: block;
    font-size: 3rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
}

:-webkit-any(article, aside, nav, section) h1{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}