#avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden; /*Serve para conter a imagem dentro do circulo sem trespassar a borda*/
    animation-name: padraoCores;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cabecario{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
}

#introducao{
    align-items: center;
    display: grid;
    /*grid-template-rows: auto auto auto;*/
    row-gap: 50px;
    text-align: center;
    height: 100vh;
    min-height: 80vh;
    max-height: 120vh;
    position: relative;
    animation-name: padraoCores;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes padraoCores{ /*Brinque um pouco aqui, até ficar com uma animação fluida (feito)*/
    0%{
        background-color: #ee7752;
    }
    25%{
        background-color: #e73c7e;
    }
    50%{
        background-color: #a529be;
    }
    75%{
        background-color: #23d5ab;
    }
    100%{
        background-color: #23a6d5;
    }
}

#principal{
    background-color: white;
    padding: 4rem 0;
}

@media only screen  and (max-width: 56.25em){
    #principal{
        padding: 8rem  0;
    }
}

#conteudo_principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
    padding-left: 1.2rem;
}

@media only screen  and (max-width: 56.25em){
    #conteudo_principal{
        grid-template-columns: 1fr;
        gap: 2.4rem;
        padding-left: 2.1rem;
    }
}

/*#conteudo_principal>div{
    display: block;
}*/

#conteudo_principal_detalhes{
    font-size: 1.3rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

#conteudo_principal_detalhes:last-child{
    margin-bottom: 2rem;
}

#habilidades{
    display: flex;
    flex-wrap: wrap;
}

#projetos{
    background-color: white;
    padding: 4rem 0;
}

.latin{
    margin: 3rem auto 0 auto;
    max-width: 65rem;
    display: flex;
    text-align: center;
    font-size: 1.7rem;
    width: 100%;
    font-weight: 1.6;
}

header>.items{
    display: flex;
    align-items: center;
}

.div_botao{
    margin-top: 5em;
    text-align: center;
}
.botao_projetos{
    padding: 1.5rem 1.7rem;
    font-size: 1.1rem;
    margin: auto;
}

.botao_projetos:hover{
    transform: translateY(-5px);
}

.botao{
    background-color: white;
    color: #333;
    text-transform: uppercase; /*Define as o texto como em maiusculo*/
    letter-spacing: 2px; /*Espaçamento entre as letras*/
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0,0,0,0.15);
    transition: transform .3s; 
}

.botao_principal_tema{
    animation-name: padraoCores;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
}

.redes_sociais{
    position: absolute;
    top: 50%;
    border: 2px solid white;
    border-left: 2px solid white;
    transform: translateY(-50%);
}

.redes_sociais>div{
    width: 3.5rem;
    padding: 1.2rem;
}

.redes_sociais>div>a>img{
    width: 100%;
}

.link_social{
    width: 100%;
    display: block;
    transition: background .3s;
}

.container_principal{
    max-width: 120rem;
    margin: auto;
    width: 94%;
}

.titulo_secao{
    display: block;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
}

.subtitulo_secao{
    display: block;
    text-align: center;
    color: #777;
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto auto 6rem auto;
    line-height: 1.6;
}

.conteudo_principal_titulo{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.habilidades_habilidade{
    margin: 0 1.5rem 1.5rem 0;
    padding: 0.8rem 1.6rem;
    font-size: 1.3rem;
    background: rgba(153,153,153,0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777;
}

.projeto{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;
    margin-bottom: 7rem;
}

@media only screen and (max-width: 56.25em){
    .projeto_conteudo{
        align-items: center;
    }
}

.projeto_conteudo{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.projeto_titulo{
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.projeto_descricao{
    font-size: 1.3rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.projeto_imagem{
    width: 100%;
    display: block;
    object-fit: cover;
}

.imagem_conteudo{
    overflow: hidden;
}